* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #606060;
  width: 100%;
  margin: 0rem; }
  body header {
    height: 8.125rem;
    background-color: #d9d9d96c;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }

.navbar .container-fluid .navbar-brand {
  color: white; }

.navbar .container-fluid .boton {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: normal;
  gap: .5rem; }
  .navbar .container-fluid .boton .oculto-responsive {
    display: none; }
  .navbar .container-fluid .boton .navbar-toggler {
    color: white; }

.navbar .container-fluid .navbar-collapse {
  justify-content: flex-end;
  width: fit-content; }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem; }

.nav-bar img {
  padding: .5rem 0rem 0rem .5rem;
  width: 80%; }

.menu-footer {
  height: 5rem;
  background-color: #d9d9d96c;
  display: flex;
  flex-wrap: normal;
  justify-content: center;
  align-items: center;
  padding: 0rem .25rem 0rem .25rem;
  gap: .5rem; }
  .menu-footer a {
    text-decoration: none;
    color: white;
    font-size: 1rem; }

.servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: center;
  margin: 2rem 0rem 2rem 0rem;
  overflow: hidden; }
  .servicios .img-index {
    height: 27.3125rem; }
  .servicios .texto-imagen {
    width: 38.9375rem;
    height: 18rem;
    margin: 1rem 6rem 0rem 6rem;
    padding: .3125rem 1rem .3125rem 1rem;
    background-color: #d1cdc3b4;
    display: flex;
    flex-wrap: normal;
    justify-content: normal;
    align-items: center;
    position: absolute; }
    .servicios .texto-imagen p {
      padding-top: 1rem; }

.izquierda {
  justify-content: flex-end;
  padding-right: 10rem; }

.derecha {
  justify-content: flex-start;
  padding-left: 10rem; }

.paginas {
  padding: .3125rem 10rem .3125rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal; }
  .paginas .grid {
    flex-wrap: wrap;
    display: grid;
    height: 100%;
    grid-template-columns: 14.0625rem 10.5rem 14.0625rem;
    grid-template-rows: 14.0625rem 10.5rem 14.0625rem;
    gap: .3125rem;
    padding: .3125rem .3125rem .3125rem .3125rem; }
    .paginas .grid .uno {
      grid-column: 1/3; }
      .paginas .grid .uno .reducido {
        width: 96.5%;
        padding: .3125rem 0rem 0rem .3125rem; }
    .paginas .grid .dos {
      grid-column: 3/4;
      grid-row: 1/2; }
    .paginas .grid .tres {
      grid-column: 1/2;
      grid-row: 2/4;
      margin-top: -0.046875rem; }
    .paginas .grid .cuatro {
      grid-column: 2/4;
      grid-row: 3/4;
      margin-top: 0.1563rem; }
  .paginas .grid-zapatos {
    flex-wrap: wrap;
    display: grid;
    height: 100%;
    padding: .1563rem .1563rem .3125rem .1563rem;
    grid-template-columns: repeat(11, 10.875rem);
    object-fit: cover; }
    .paginas .grid-zapatos .uno-z {
      grid-column: 1/3;
      padding-bottom: .3125rem; }
    .paginas .grid-zapatos .dos-z {
      grid-column: 4/6;
      padding-bottom: .3125rem; }
    .paginas .grid-zapatos .tres-z {
      grid-column: 7/9;
      padding-bottom: .3125rem; }
    .paginas .grid-zapatos .cuatro-z {
      grid-column: 10/12;
      padding-bottom: .3125rem; }
    .paginas .grid-zapatos .cinco-z {
      grid-column: 2/4;
      padding-bottom: .3125rem; }
    .paginas .grid-zapatos .seis-z {
      grid-column: 5/7;
      padding-bottom: .3125rem; }
    .paginas .grid-zapatos .siete-z {
      grid-column: 8/10;
      padding-bottom: .3125rem; }
  .paginas .img-horizontal {
    width: 100%;
    object-fit: cover;
    transition: transform .4s; }
    .paginas .img-horizontal:hover {
      transform: scale(1.2); }
  .paginas .img-vertical {
    width: 100%;
    object-fit: cover;
    transition: transform .4s; }
    .paginas .img-vertical:hover {
      transform: scale(1.2); }

@media (max-width: 2560px) {
  .paginas {
    padding: .3125rem 5rem .3125rem 5rem; } }

@media (max-width: 2234px) {
  .paginas {
    padding: .3125rem 0rem .3125rem 0rem; } }

@media (max-width: 1920px) {
  .paginas {
    padding: .3125rem 15rem .3125rem 15rem; }
    .paginas .grid {
      grid-template-columns: 8.4rem 6.72rem 8.4rem;
      grid-template-rows: 8.4rem 6.72rem 8.4rem;
      gap: .3125rem;
      padding: .1563rem; }
      .paginas .grid .tres {
        margin-top: .3125rem; }
      .paginas .grid .cuatro {
        margin-top: -.46875rem; }
    .paginas .grid-zapatos {
      grid-template-columns: repeat(11, 6.6875rem);
      padding: 0rem; } }

@media (max-width: 1669px) {
  .paginas {
    padding: .3125rem 5rem .3125rem 5rem; } }

@media (max-width: 1349px) {
  .paginas {
    padding: .3125rem 0rem .3125rem 0rem; } }

@media (max-width: 1250px) {
  .paginas {
    padding: .3125rem 1.5rem .3125rem 1.5rem; }
    .paginas .grid-zapatos {
      grid-template-columns: repeat(11, 6.625rem);
      padding: 0rem; } }

@media (max-width: 1221px) {
  .paginas {
    padding: .3125rem 0rem .3125rem 0rem; }
    .paginas .grid {
      grid-template-columns: 6.72rem 5.376rem 6.72rem;
      grid-template-rows: 6.72rem 5.376rem 6.72rem;
      gap: .3125rem;
      padding: .1563rem; }
    .paginas .grid-zapatos {
      grid-template-columns: repeat(11, 5.375rem);
      padding: 0rem; } }

@media (max-width: 1120px) {
  .paginas {
    padding: .3125rem 0rem .3125rem 0rem; }
    .paginas .grid {
      grid-template-columns: 6.72rem 5.376rem 6.72rem;
      grid-template-rows: 6.72rem 5.376rem 6.72rem;
      gap: .3125rem;
      padding: .1563rem; }
    .paginas .grid-zapatos {
      grid-template-columns: repeat(11, 5.375rem);
      padding: 0rem; }
    .paginas .izquierda {
      padding-right: 5rem; }
    .paginas .derecha {
      padding-left: 5rem; } }

@media (max-width: 991px) {
  .navbar {
    z-index: 1; }
    .navbar .container-fluid .collapse {
      background-color: #989494;
      opacity: .8; }
      .navbar .container-fluid .collapse .navbar-nav {
        margin: 1.5rem 0rem 0rem 0.5rem; }
        .navbar .container-fluid .collapse .navbar-nav .oculto-full {
          display: block; }
  .servicios {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; } }

@media (max-width: 948px) {
  .paginas .grid {
    grid-template-columns: 6.048rem 4.8384rem 6.048rem;
    grid-template-rows: 6.048rem 4.8384rem 6.048rem;
    padding: .1563rem; }
  .paginas .grid-zapatos {
    grid-template-columns: repeat(11, 4.8438rem);
    padding: 0rem; } }

@media (max-width: 858px) {
  .izquierda {
    padding-right: 0rem; }
  .derecha {
    padding-left: 0rem; }
  .servicios .texto-imagen {
    margin: 1rem 1rem 0rem 1rem; }
  .paginas .grid {
    grid-template-columns: 6.048rem 4.8384rem 6.048rem;
    grid-template-rows: 6.048rem 4.8384rem 6.048rem;
    padding: .25rem; }
  .paginas .grid-zapatos {
    grid-template-columns: repeat(8, 4.45rem);
    padding: 0rem; }
    .paginas .grid-zapatos .uno-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .dos-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .tres-z {
      grid-column: 7/9; }
    .paginas .grid-zapatos .cuatro-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .cinco-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .seis-z {
      grid-column: 7/9; }
    .paginas .grid-zapatos .siete-z {
      grid-column: 4/6; } }

@media (max-width: 698px) {
  .navbar a {
    font-size: 1rem; }
  .nav-bar img {
    width: 60%; }
  .servicios {
    justify-content: center;
    padding: 0rem; }
    .servicios .texto-imagen {
      width: 31.25rem;
      height: 20rem;
      margin: 0rem; }
  .paginas .grid {
    grid-template-columns: 5.376rem 4.3rem 5.376rem;
    grid-template-rows: 5.376rem 4.3rem 5.376rem;
    padding: .1563rem; }
  .paginas .tres {
    margin-top: .25rem; }
  .paginas .cuatro {
    margin-top: -0.5rem; }
  .paginas .grid-zapatos {
    grid-template-columns: repeat(8, 3.99rem);
    padding: 0rem; } }

@media (max-width: 570px) {
  .navbar .navbar-nav {
    align-items: center; } }

@media (max-width: 511px) {
  .servicios {
    height: 37rem; }
    .servicios .texto-imagen {
      width: 23rem;
      height: 28rem;
      margin: 0rem; }
  .paginas .grid {
    grid-template-columns: 8.4rem 6.72rem 8.4rem;
    grid-template-rows: 8.4rem 6.72rem 8.4rem;
    padding: .1563rem; }
  .paginas .grid-zapatos {
    grid-template-columns: repeat(5, 4.89rem);
    padding: 0rem; }
    .paginas .grid-zapatos .uno-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .dos-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .tres-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .cuatro-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .cinco-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .seis-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .siete-z {
      grid-column: 2/4; } }

@media (max-width: 415px) {
  .menu {
    padding: 0rem 0rem 0rem 1.7rem;
    gap: .3rem; }
  .servicios {
    height: 37rem; }
    .servicios .texto-imagen {
      width: 18rem;
      height: 38rem;
      margin: 5rem; }
  .paginas .grid {
    grid-template-columns: 6.72rem 5.376rem 6.72rem;
    grid-template-rows: 6.72rem 5.376rem 6.72rem;
    padding: .1563rem; }
  .paginas .grid-zapatos {
    grid-template-columns: repeat(5, 3.9506rem);
    padding: 0rem; }
    .paginas .grid-zapatos .uno-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .dos-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .tres-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .cuatro-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .cinco-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .seis-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .siete-z {
      grid-column: 2/4; } }

@media (max-width: 369px) {
  .navbar .container-fluid .navbar-brand img {
    width: 25%; } }

@media (max-width: 340px) {
  .navbar .container-fluid .navbar-brand img {
    width: 25%; }
  .nav-bar {
    margin-right: -1rem; }
  .paginas .grid {
    grid-template-columns: 6.48rem 4.8384rem 6.48rem;
    grid-template-rows: 6.48rem 4.8384rem 6.48rem;
    padding: .1563rem; }
    .paginas .grid .tres {
      margin-top: .0625rem; }
    .paginas .grid .cuatro {
      margin-top: -.0625rem; }
  .paginas .grid-zapatos {
    grid-template-columns: repeat(5, 3.7468rem);
    padding: 0rem; }
    .paginas .grid-zapatos .uno-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .dos-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .tres-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .cuatro-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .cinco-z {
      grid-column: 1/3; }
    .paginas .grid-zapatos .seis-z {
      grid-column: 4/6; }
    .paginas .grid-zapatos .siete-z {
      grid-column: 2/4; } }
