.paginas {
    padding: .3125rem 10rem .3125rem 10rem;
    @include flex(row, wrap, center, normal);

    .grid {
        flex-wrap: wrap;
        display: grid;
        height: 100%;
        grid-template-columns: 14.0625rem 10.5rem 14.0625rem;
        grid-template-rows: 14.0625rem 10.5rem 14.0625rem;
        gap: .3125rem;
        padding: .3125rem .3125rem .3125rem .3125rem;

        .uno {
            grid-column: 1/3;

            .reducido {
                width: 96.5%;
                padding: .3125rem 0rem 0rem .3125rem;
            }
        }

        .dos {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .tres {
            grid-column: 1/2;
            grid-row: 2/4;
            margin-top: -0.046875rem;
        }

        .cuatro {
            grid-column: 2/4;
            grid-row: 3/4;
            margin-top: 0.1563rem;
        }
    }

    .grid-zapatos {
        flex-wrap: wrap;
        display: grid;
        height: 100%;
        padding: .1563rem .1563rem .3125rem .1563rem;
        grid-template-columns: repeat(11, 10.875rem);
        object-fit: cover;

        .uno-z {
            grid-column: 1/3;
            padding-bottom: .3125rem;
        }

        .dos-z {
            grid-column: 4/6;
            padding-bottom: .3125rem
        }

        .tres-z {
            grid-column: 7/9;
            padding-bottom: .3125rem
        }

        .cuatro-z {
            grid-column: 10/12;
            padding-bottom: .3125rem
        }

        .cinco-z {
            grid-column: 2/4;
            padding-bottom: .3125rem
        }

        .seis-z {
            grid-column: 5/7;
            padding-bottom: .3125rem
        }

        .siete-z {
            grid-column: 8/10;
            padding-bottom: .3125rem
        }
    }

    .img-horizontal {
        width: 100%;
        object-fit: cover;
        transition: transform .4s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .img-vertical {
        width: 100%;
        object-fit: cover;
        transition: transform .4s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.ful-img {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    z-index: 1;

    & span {
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 1.875rem;
        color: #fff;
        cursor: pointer;
    }

    & img {
        width: 90%;
        object-fit: contain;
    }

}