@media(max-width: 415px) {
    .menu{
        padding: 0rem 0rem 0rem 1.7rem;
        gap: .3rem;
    }

    
    .servicios{
        height: 37rem;
    .texto-imagen{
        width: 18rem;
        height: 38rem;
        margin: 5rem;
    }


}
.paginas{


    .grid {
        grid-template-columns: 6.72rem 5.376rem 6.72rem;
        grid-template-rows: 6.72rem 5.376rem 6.72rem;
        padding: .1563rem;
    }

    .grid-zapatos{
        grid-template-columns: repeat(5,3.9506rem);
        padding: 0rem;
    

    .uno-z{
        grid-column: 1/3;
        
    }
    
    .dos-z{
        grid-column: 4/6;
        
    }
    
    .tres-z{
        grid-column: 1/3;
        
    }
    
    .cuatro-z{
        grid-column: 4/6;
        
    }
    
    .cinco-z{
        grid-column: 1/3;
        
    }
    
    .seis-z{
        grid-column: 4/6;
        
    }
    
    .siete-z{
        grid-column: 2/4;
        
    }
}
}}